[user]
	name = Morgan CUGERONE
	email = morgaan@gmail.com
[alias]
	cp = "!sh $HOME/copy-git-branch-to-clipboard.sh"
	co = checkout
	br = branch
	ci = commit
	st = status
	pf = push --force-with-lease
	visual = !gitk
	last = log -1 HEAD
[core]
	excludesfile = ~/.gitignore
[init]
	templatedir = ~/.git_template
[diff]
  tool = vimdiff
  keepBackup = false
