[user]
	name = Morgan CUGERONE
	email = morgaan@gmail.com
[alias]
	cp = "!sh $HOME/copy-git-branch-to-clipboard.sh"
	clone-for-worktrees = "!sh $HOME/git-clone-bare-for-worktrees.sh"
	co = checkout
	br = branch
	ci = commit
	pu = push
	st = status
	pf = push --force-with-lease
	visual = !gitk
	last = log -1 HEAD
	wtl = worktree list
	wtan = worktree add -b
	wtar = worktree add --track -b
	wtr = worktree remove
[core]
	excludesfile = ~/.gitignore
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[diff]
  tool = vimdiff
  keepBackup = false
[pull]
	rebase = false
