# To take into account this file globally
# $ git config --global core.excludesfile ~/.gitignore

# Vim temp and swap files
.*.sw*
*~

# Apple specific
.DS_Store

.vim/bundle/
.vim/plugged/
.netrwhist
.tmux/resurrect
.tmux/plugins
iTerm2/iTerm2-Color-Schemes/
node_modules
.bloop/
.metals/
project/metals.sbt
.config/nvim/plugin/packer_compiled.lua
