[user]
	name = Morgan CUGERONE
	signingkey = ~/.ssh/id_rsa
	email = morgaan@gmail.com
[alias]
	cp = "!sh $HOME/copy-git-branch-to-clipboard.sh"
	clone-for-worktrees = "!sh $HOME/git-clone-bare-for-worktrees.sh"
	co = checkout
	br = branch
	ci = commit
	pu = push
	st = status
	pf = push --force-with-lease
	visual = !gitk
	last = log -1 HEAD
	wtl = worktree list
	wtan = worktree add -b
	wtar = worktree add --track -b
	wtr = worktree remove
	list-gone = "!git remote prune origin && git branch -vv | cut -c 3- | grep ': gone]' | awk '{print $1}'"
	delete-gone = "!git remote prune origin && git branch -vv | cut -c 3- | grep ': gone]' | awk '{print $1}' | xargs -n1 -r git branch -d"
	delete-gone-force = "!git remote prune origin && git branch -vv | cut -c 3- | grep ': gone]' | awk '{print $1}' | xargs -n1 -r git branch -D"
[core]
	; editor property set via GIT_EDITOR to overcome git-bash not resolving
	; aliases as it looks like. GIT_EDITOR is set in my .zshrc
	excludesfile = ~/.gitignore
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[diff]
  tool = vimdiff
  keepBackup = false
[pull]
	rebase = false
[fetch]
	prune = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
